Source: libsdl-1.3
Priority: optional
Section: libs
Maintainer: Debian SDL packages maintainers <pkg-sdl-maintainers@lists.alioth.debian.org>
Uploaders: Barry deFreese <bdefreese@debian.org>, Sam Hocevar <sho@debian.org>
Standards-Version: 3.9.2
Build-Depends: dpkg (>= 1.13.2),
               debhelper (>= 5.0),
               quilt,
               libx11-dev,
               libxext-dev,
               libxt-dev,
               x11proto-core-dev,
               libaudiofile-dev,
               libpulse-dev,
               libgl1-mesa-dev,
               libasound2-dev [linux-any],
               libcaca-dev,
               libdirectfb-dev (>= 1.0) [!hurd-i386],
               libusbhid-dev [kfreebsd-any],
               libglu1-mesa-dev
Vcs-Svn: svn://svn.debian.org/pkg-sdl/unstable/libsdl-1.3
Vcs-Browser: http://svn.debian.org/wsvn/pkg-sdl/unstable/libsdl-1.3/
Homepage: http://www.libsdl.org/

Package: libsdl-1.3-0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple DirectMedia Layer
 SDL is a library that allows programs portable low level access to
 a video framebuffer, audio output, mouse, and keyboard.
 .
 This version of SDL is compiled with X11, caca and DirectFB graphics
 drivers and OSS, ALSA, NAS and PulseAudio sound drivers.

Package: libsdl-1.3-0-udeb
XC-Package-Type: udeb
Architecture: any
Section: debian-installer
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple DirectMedia Layer (with directfb graphics and no sound)
 SDL is a library that allows programs portable low level access to a video
 framebuffer, audio output, mouse, and keyboard.
 .
 This version of SDL is compiled with directfb graphics and no sound.

Package: libsdl-1.3-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         libsdl-1.3-0 (= ${binary:Version}),
         libx11-dev,
         libglu1-mesa-dev,
         libasound2-dev [linux-any],
         libpulse-dev,
         libdirectfb-dev (>= 0.9.22),
         libcaca-dev,
         libusbhid-dev [kfreebsd-any],
         libxt-dev,
         libxext-dev
Replaces: libsdl-dev, libsdl0.11-dev, libsdl1.0-dev, libsdl1.1-dev
Conflicts: xlibs-pic (<< 4.1.0-10), libsdl-dev, libsdl0.11-dev, libsdl0.11, libsdl1.0-dev, libsdl1.1-dev, libsdl1.2-dev
Provides: libsdl-dev
Description: Simple DirectMedia Layer development files
 SDL is a library that allows programs portable low level access to a video
 framebuffer, audio output, mouse, and keyboard.
 .
 This package contains the files needed to compile and link programs which
 use SDL.
